* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px; /*sayfayı ayalarma*/
}

.container .heading {
  width: 50%;
  padding-bottom: 50px; /*solid çizgimizi uzatmamızı sağladık*/
}

.container .heading h3 {
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #e8aba7a7;
  color: #f7f7f7dc;
}
.container .heading h3 span {
  font-weight: 1;
  color: #e8d9d8;
}

.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */ /*bu şartı kaldırdığımızda yatay eksende hizalayabiliyorum*/
}
.container .box .dream {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}
.container .box .dream img {
  width: 100%; /*hizalama ve alan kaplamada önemi çok büyük*/
  padding-bottom: 5px;
  border-radius: 5px;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column; /* Yatay sıralamayı düzelten satır */
  background-position: center;
  background-size: cover;
  position: relative;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.03), rgba(4, 9, 30, 0.036)),
    url(img/p1.jpg);
}

.nav {
  background-color: #333;
  padding: 15px;
  text-align: center;
  width: 100%; /* Eklenen satır: navbar'ın genişliğini %100 yapar */
  position: fixed; /* Eklenen satır: sabit pozisyonlu */
  top: 100; /* Eklenen satır: sayfanın üstünde */
  z-index: 1000; /* Eklenen satır: diğer öğelerden üstte */
}
.nav-links {
  flex: 10;
  text-align: right;
}

.nav-links ul li {
  list-style: none; /* Liste işaretini kaldırır, genellikle özel bir simge veya stil kullanılacaksa kullanılır */
  display: inline-block; /* Elemanları yatayda sıralamak için kullanılır, blok eleman gibi davranır ancak yatayda yan yana gelir */
  padding: 8px 12px; /* Üst ve alt kenar boşluğu 8 birim, sağ ve sol kenar boşluğu 12 birim içerir */
  position: relative; /* Pozisyonunu ayarlamak için kullanılır, bu durumda alt elemanlarda kullanılabilir */
}

.nav-links ul li a {
  color: #f5d9d7a3;
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after /*bağlantının altın ek bir öge ekler*/ {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: flex;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}
